@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Science+Gothic:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(200, 254, 198);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 90%;
    background-color: white;
    height: 100%;
    margin: 25px 0px;
    padding: 25px 20px;
    border-radius: 15px;
}
.container h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Science Gothic", sans-serif;
    padding: 20px 0px;
}
.student_form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.student_form input {
    padding: 8px 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 5px 0px;
    width: 50%;
}
.student_form select {
    padding: 8px 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 5px 0px;
    width: 50%;
}
.btn {
    width: 100%;
    padding: 10px 0px;
    background-color: rgb(51, 169, 51);
    border: none;
    border-radius: 5px;
    grid-column: 2 / 3;
    margin: 25px 0px;
    cursor: pointer;
}
table {
    width: 100%;
    background-color: rgb(36, 106, 36);
    color: white;
    border-radius: 6px;
    padding: 10px 0px;
    height: auto;
    text-align: center;
    border-collapse: collapse;
}
/* table thead{
    font-weight: normal;
    font-size: .9rem;
} */
table tbody td, th{
    padding: 10px 10px;
    border: 1px solid white;
}

